<p-table [value]="grupos()">
    <ng-template #header>
    </ng-template>
    <ng-template #body let-grupo>
        <tr>
            <td></td>
            <td></td>
            <td>{{ grupo.nombreGrupo}}</td>
            <td>
                <div class="d-flex justify-content-between">
                    <button pButton pRipple type="button" icon="pi pi-arrow-circle-right"
                        text rounded severity="secondary" [style]="{ color: 'green' }"
                        size="large"
                        (click)="submit(grupo.idGrupo)">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>