<app-nueva-factura [isActive]="estaActivo" [grupo]="grupo"></app-nueva-factura>
<div class="container pt-5" style="width: 100%;">
  <div class="pt-5">
    <div class="text-center">
      @if (this.grupo) {
      <h2>{{grupo.nombreGrupo}}</h2>
      <h3>FACTURAS</h3>
      }
    </div>
    <div class="row">
      <div class="col-md-12 d-flex flex-row-reverse">
        <button type="button" class="btn btn-success" (click)="activarModel()">agregar factura</button>
      </div>
      <div class="col-md-12">
        <app-lista-facturas [idGrupo]="grupo.idGrupo"></app-lista-facturas>
      </div>
    </div>

  </div>
</div>
