<div class="container " style="width: 100%;">
    <div>
      <table mat-table [dataSource]="dataSource" class="demo-table">

          <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox  (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row.id) : null"
                    [checked]="selection.isSelected(row.id)">
      </mat-checkbox>
    </td>
  </ng-container>
        <!-- numero factura -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
  
        <!-- descripcion factura -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef>monto</th>
          <td mat-cell *matCellDef="let element">
            <p href="">{{ element.monto | currency:'EUR' }}</p>
          </td>
        </ng-container>
  
        <!-- Monto factura -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>descripcion</th>
          <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
        </ng-container>
        <!-- fecha de factura -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaFactura | date:"dd/MM/yyyy" }}</td>
        </ng-container>
        <ng-container matColumnDef="otros">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div  class="d-flex justify-content-around">
              <span (click)="eliminarFactura(element)"><i class="ti ti-trash-filled fs-5"></i></span>
              <span (click)="editarFactura(element)" > <i class="ti ti-pencil fs-5"></i></span>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div>
        <mat-paginator
          #paginator
          class="demo-paginator"
          (page)="handlePageEvent($event)"
          [length]="totalFacturas"
          [disabled]="disabled"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="false ? pageSizeOptions : [5]"
          [hidePageSize]="hidePageSize"
          [pageIndex]="pageIndex"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
      <div>
        <!--<paginacion-numeros (totalCount)="totalFacturas" [pageSize]="pageIndex" [rulerLength]="pageIndex"></paginacion-numeros> -->
      </div>
    </div>
  </div>
