<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          @if (this.factura.id) {
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Factura</h1>
          } @else {
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Factura</h1>
          }
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="facturaForm">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <label for="descripcion:" class="form-label">Descripcion</label>
                <input class="form-control" formControlName="descripcionForm" id="descripcion" placeholder="Descripcion...">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                <label for="monto:" class="form-label">monto</label>
                <input class="form-control" formControlName="montoForm"  id="monto" placeholder="Monto">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                <label for="Fecha de compra:" class="form-label">Fecha</label>
                <input type="date" class="form-control" formControlName="fechaForm" id="fecha" placeholder="dd/mm/yyyy" [min]="this.getMinDate()" [max]="this.getMAxDate()">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3 d-flex justify-content-center">
                <button type="button" (click)="this.guardarFactura()" class="btn btn-primary">guardar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>