<p-table [value]="facturas()">
    <ng-template #header>
    </ng-template>
    <ng-template #body let-factura>
        <tr>
            <td>{{ factura.fechaCreacion | moment}}</td>
            <td>{{ factura.descripcion }}</td>
            <td>{{ factura.monto | currency:'EUR'}}</td>
            <td>
                <div class="d-flex justify-content-evenly">
                    @if (isDelete()) {
                        <button pButton pRipple type="button" icon="pi pi-trash"
                            text rounded severity="secondary" [style]="{ color: 'red' }"
                            size="large" (click)="this.eliminarFactura(factura)">
                        </button>
                    }
                    @if (isClick()) {
                        <button pButton pRipple type="button" icon="pi pi-arrow-circle-right"
                            text rounded severity="secondary" [style]="{ color: 'green' }"
                            size="large" (click)="this.editarFactura(factura)">
                        </button>
                    }
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>